extends ../layout

block content
  h1= title
  p= `Hello, ${user.name}`
  form(action='/islands' method='POST')
    label what's da name? 
      input(type='text' name='name')
    br
    br
    label who dat artist? 
      input(type='text' name='artist')
    br
    br
    label what year? (which year?) 
      input(type='text' name='year')
    br
    br
    button(type='submit') add that